.App {
  font-family: sans-serif;
  text-align: center;
}
.blackSquare {
  height: 50px;
  width: 50px;
  display: inline-block;

  background-color: #555;
}

.whiteSquare {
  height: 50px;
  width: 50px;
  display: inline-block;

  background-color: #fff;
}
